@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@font-face {
  font-family: admin;
  src: url("../../utils/fonts/froyo.otf");
  font-weight: bold;
}

@font-face {
  font-family: getstarted;
  src: url("../../utils/fonts/services.otf");
  font-weight: bold;
}

@font-face {
  font-family: ser-con;
  src: url("../../utils/fonts/Coco-Gothic-Light-trial.ttf");
}

@font-face {
  font-family: ser-con-btn;
  src: url("../../utils/fonts/Metropolis-Light.otf");
}

@font-face {
  font-family: ser-con-reg;
  src: url("../../utils/fonts/Coco-Gothic-Regular-trial.ttf");
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Consolas";
}

.link-logo{
  text-decoration: none;
  
}
.main-admin {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #e7e7e7;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-admin h4{
  font-family: admin;
  position: absolute;
  left:50px;
  top:40px;
}

.box-form {
    position: relative;
    width: 100%;
    max-width: 650px;
    height: 520px;
    background-color: #d7d7d7;
    border-radius: 25px;
    box-shadow: 0 60px 40px -30px rgba(45, 45, 45, 0.27);
  }
  
  .inner-box {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .inner-box .admin-header{
    position: absolute;
    font-family:admin;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
  
  .forms-wrap-login {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;  
  }

  .form-horizontal{
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: opacity 0.02s 0.4s;
  }

  .input-wrap {
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
  }
  
  .input-field {
    font-family: ser-con-btn;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding-left: 10px;
    font-size: 0.95rem;
    color: #151111;
    transition: 0.4s;
  }
  
  .sign-btn {
    font-family: ser-con-btn;
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #dad65c;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
  }
  
  .sign-btn:hover {
    background-color: #909090;
  }


  