@font-face {
  font-family: ser-con-btn;
  src: url("../../../../utils/fonts/Metropolis-Regular.otf");
}
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td,
table th {
  font-family: ser-con-btn;
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #cdbc5d;
  font-size: 16px;
}
table tbody tr {
  height: 48px;
  border-bottom: 1px solid #e3f1d5;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: left;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}
@media screen and (max-width: 35.5em) {
  table {
    display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Code";
  }
  table tbody tr td:nth-child(2):before {
    content: "Stock";
  }
  table tbody tr td:nth-child(3):before {
    content: "Cap";
  }
  table tbody tr td:nth-child(4):before {
    content: "Inch";
  }
  table tbody tr td:nth-child(5):before {
    content: "Box Type";
  }
}
.dashboard {
  font: 400 14px "Calibri", "Arial";
  padding: 100px;
}

.adm-btn {
  font-family: ser-con-btn;
  position: absolute;
  top: 30px;
  right: 50px;
  background-color: none;
  border: none;
  color: rgb(51, 51, 51);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.isvaccant {
  color: rgb(21, 158, 0);
  font-weight: 600;
}

.occupied {
  color: rgb(148, 0, 0);
  font-weight: 600;
}

.checkout-btn {
  text-transform: capitalize !important;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards .card {
  margin: 20px;
}

.main-dashboard h3 {
  font-family: ser-con-btn;
  font-size: 2.5rem;
}

.card-sub-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 20px 15px;
}

.filter-by-date {
  display: flex;
  justify-content: space-evenly;
}

.filter-by-date .input-filter {
  width: 230px !important;
  height: 100px !important;
  margin: 10px;
}
.filter-by-date .filter-btn {
  width: 100px !important;
  height: 40px !important;
  margin: 10px;
}

#cusid::-webkit-inner-spin-button,
#cusid::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
